<!-- accounts/templates/accounts/password_reset.html -->
{% extends "base.html" %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="m-0">Reset Password</h4>
        </div>
        <div class="card-body">
          <p>Forgotten your password? Enter your email address or roll number below, and we'll send you instructions for setting a new one.</p>
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              {{ form.email.label_tag }}
              {{ form.email.errors }}
              {{ form.email|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- accounts/templates/accounts/password_reset_email.html -->
{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your account at IIIT Kottayam's Hostel Complaint Management System.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username is: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Thanks,
The Insta Solve Team
IIIT Kottayam
{% endautoescape %}

<!-- accounts/templates/accounts/password_reset_subject.txt -->
Password Reset for Insta Solve - Hostel Complaint System